* {
	font-family: 'M PLUS 1p', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section {
    overflow: hidden;
	width: 100%;
}
a {
	text-decoration-line: none;
}
p {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
img {
	width: 100%;
}
ul {
	list-style: none;
}
span {
	font-size: 12px;
}
h1 {
	font-weight: 800;
	color: #f5f5f5;
	font-size: 130px;
    line-height: 126px;
}
h2 {
	font-weight: 700;
	padding: 50px 0;
	font-size: 32px;
}
h3 {
	font-weight: 500;
	font-size: 18px;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
h1, h2, h3, h4 {
	text-transform: uppercase;
}
html {	
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
body {
	perspective: 1.1px; 
  	transform-style: preserve-3d;
  	overflow-y: scroll;
  	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
.nw {	
	margin: 0 auto;
	width: 1200px;
    font-size: 0;
}
header {  	
    overflow: hidden;
	height: 100%;
	min-height: 500px;
	width: 100%;
}
header::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	transform-origin: center;
	background: url('img/bg1.png') no-repeat;
	background-size: cover;
	transition: 1s;
	/* Параллакс */
	transform: translateZ(-1px) scale(2);
}
#menu {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.menu-ct {
	display: flex;
	justify-content: space-between;
}
#logo {
	height: 116px;
}
#logo img {
	padding: 20px;
}
#toogle {
	display: none;
}
nav {
	text-align: right;
	width: 85%;
	display: flex;
	justify-content: space-between;
}
nav ul {
	display: flex;
}
.nav-menu a {
	display: block;
	padding: 0 25px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
    line-height: 116px;
	font-size: 18px;
	color: white;
	transition: 0.3s;
}
.nav-img a {
	display: block;
	padding: 0 15px;
	line-height: 116px;
	font-size: 18px;
	color: white;
	transition: 0.3s;
}
nav a:hover {
	opacity: 0.6;
}
.nav-img img {
	width: initial;
}
.header-content {
	text-align: center;
	padding: 15vh 0;
	position: relative;
	height: calc(100% - 116px);
}
.header-content h3 {
	font-size: 24px;
    letter-spacing: 14px;
    color: #176586;
}
.header-content span {
	display: block;
	text-align: center;
	font-size: 10px;
	position: absolute;
	width: 100%;
	bottom: 20%;
	color: white;
}
#header-but {
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	margin-left: -30px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	background: none;
	background: url(img/arrow-down.png) no-repeat;
	background-size: 16px 16px;
	background-position: center;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 50%;
}
.header-content button:focus {
	outline: none;
	box-shadow: 0 0 0 1px #2f7cc0;
}