@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:300,500,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
	font-family: 'M PLUS 1p', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section {
    overflow: hidden;
	width: 100%;
}
a {
	text-decoration-line: none;
}
p {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
img {
	width: 100%;
}
ul {
	list-style: none;
}
span {
	font-size: 12px;
}
h1 {
	font-weight: 800;
	color: #f5f5f5;
	font-size: 130px;
    line-height: 126px;
}
h2 {
	font-weight: 700;
	padding: 50px 0;
	font-size: 32px;
}
h3 {
	font-weight: 500;
	font-size: 18px;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
h1, h2, h3, h4 {
	text-transform: uppercase;
}
html {	
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
body {
	perspective: 1.1px; 
  	transform-style: preserve-3d;
  	overflow-y: scroll;
  	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
.nw {	
	margin: 0 auto;
	width: 1200px;
    font-size: 0;
}
header {  	
    overflow: hidden;
	height: 100%;
	min-height: 500px;
	width: 100%;
}
header::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	transform-origin: center;
	background: url('img/bg1.png') no-repeat;
	background-size: cover;
	transition: 1s;
	/* Параллакс */
	transform: translateZ(-1px) scale(2);
}
#menu {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.menu-ct {
	display: flex;
	justify-content: space-between;
}
#logo {
	height: 116px;
}
#logo img {
	padding: 20px;
}
#toogle {
	display: none;
}
nav {
	text-align: right;
	width: 85%;
	display: flex;
	justify-content: space-between;
}
nav ul {
	display: flex;
}
.nav-menu a {
	display: block;
	padding: 0 25px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
    line-height: 116px;
	font-size: 18px;
	color: white;
	transition: 0.3s;
}
.nav-img a {
	display: block;
	padding: 0 15px;
	line-height: 116px;
	font-size: 18px;
	color: white;
	transition: 0.3s;
}
nav a:hover {
	opacity: 0.6;
}
.nav-img img {
	width: initial;
}
.header-content {
	text-align: center;
	padding: 15vh 0;
	position: relative;
	height: calc(100% - 116px);
}
.header-content h3 {
	font-size: 24px;
    letter-spacing: 14px;
    color: #176586;
}
.header-content span {
	display: block;
	text-align: center;
	font-size: 10px;
	position: absolute;
	width: 100%;
	bottom: 20%;
	color: white;
}
#header-but {
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	margin-left: -30px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	background: none;
	background: url(img/arrow-down.png) no-repeat;
	background-size: 16px 16px;
	background-position: center;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 50%;
}
.header-content button:focus {
	outline: none;
	box-shadow: 0 0 0 1px #2f7cc0;
}
#w {
	background-color: #11749e;
	text-align: center;
	padding: 50px 0 100px;
	color: white;
}
#w>article {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#w>h2 {
	background: url(img/w.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 50px;
}
.w-div {
	width: 22%;
	font-size: 16px;
}
.w-div p {
    line-height: 22px;
    font-weight: 300;
}
.w-div>* {
	margin-bottom: 15px!important;
}
.w-back {
	background-color: #2e85aa;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.w-back img {
	padding: 33px;
}
#news {
	display: flex;
	flex-wrap: wrap;
	height: 1000px;
}
#news>div {
	width: 50%;
	height: 50%;
}
.news-img>img {
	height: 100%;
	object-fit: cover;
}
.news-text-left {
	display: flex;
	justify-content: flex-end;
	background: #222222;
}
.news-text-right {
	display: flex;
	justify-content: flex-start;
	background: #f3f3f3;
}
.white>*, .black>* {
	padding: 10px 0;
}
.white>span, .black>span {
	padding-top: 0;
}
.black {
	width: 600px;
	color: white;
	padding: 80px 80px 0 0;
} 
.white {
	width: 600px;
	padding: 80px 0 0 80px;
}
#blog {
	background-color: white;
	text-align: center;
	padding: 50px 0 0 0;
}
#blog>h2 {
	background: url(img/b.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 10px;
}
#blog>h3 {
	margin-bottom: 40px;
}
#blog div>h3 {
	color: #1d7ba3;
}
#arc-blog {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.blog-div {
	width: 22%;
}
.blog-div>* {
	margin-bottom: 10px;
}
.blog-div>img {
	height: 300px;
	object-fit: cover;
}
#arc-details {
	padding: 50px 0;
	text-align: left;
	color: white;
    font-weight: 300;
	background-color: #11749e;
}
.blog-details-ct {
	display: flex;
	justify-content: space-between;
}
.blog-details>* {
	margin-bottom: 10px;
}
.blog-details {
	display: flex;
	justify-content: space-between;
	width: 48%;
}
.blog-details img {
    padding: 20px;
    padding-left: 0;
    width: 100px;
    object-fit: none;
}
#desk {
	position: relative;
	color: white;
	width: 100%;
	height: 100%;
	min-height: 520px;
	display: flex;
}
#desk::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	transform-origin: center;
	background: url('img/bgim.png') no-repeat;
	background-size: cover;
	transition: 1s;
	/* Параллакс */
	transform: translateZ(-1px) scale(2);
}
#desk>div {
	font-size: 16px;
	width: 50%;
	height: 100%;
}
#desk-text {
	display: flex;
	justify-content: flex-end;
}
#desk-text h2 {
	padding-bottom: 30px;
	text-align: left;
}
#desk p {
	margin-bottom: 40px;
	line-height: 30px;
	width: 80%;
	color: rgba(255,255,255,0.7);
}
#desk li {
	background-color: #11749e;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	transition: 0.5s;
}
#desk-li-1 {
	width: 60%;
}
#desk-li-2 {
	width: 75%;
}
#desk-li-3 {
	width: 90%;
}
#desk li:hover {
	width: 100%;
}
#desk-text {
	display: flex;
	justify-content: flex-end;
}
#desk-text>div {
	display: block;
	margin: auto 0;
	width: 600px;
}
#desk-img {
	background: url(img/phone.png) no-repeat;
	background-position: 50px center;
	background-size: 300px;
}
#team {
	background-color: white;
	text-align: center;
	padding: 50px 0;
}
#team>h2 {
	background: url(img/t.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 20px;
}
#team article {
	overflow: hidden;
	display: block;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
#team>h3 {
	margin-bottom: 40px;
}
#slider {
	transition: 0.3s;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.team-div {
	font-size: 16px;
	color: black;
	width: 24%;
	background: white;
}
.team-img {
	object-fit: cover;
	height: 400px;
}
.team-text {
	width: 80%;
	padding: 10px;
	background-color: white;
	position: relative;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
}
.team-text>* {
	padding: 5px 0;
}
.team-text h3 {
	color: #1d7ba3;
}
#contact {
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: black;
	padding-top: 50px;
}
#contact>h2 {
	text-align: center;
	margin-bottom: 50px;
	background: url(img/c.png) no-repeat;
	background-size: contain;
	background-position: center;}
#contact * {
	color: white;
}
form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
form>* {
	font-size: 16px;
	margin-bottom: 25px;
	padding: 15px;
	width: 32%;
	border: 1px solid white;
	background-color: black;
	color: white;
}
#message {
	resize: none;
	width: 100%;
	height: 250px;
	margin-bottom: 50px;
}
#submit {
	cursor: pointer;
	text-align: center;
	border: none;
	display: block;
	margin: 0 auto;
	background-color: #11749e;
	color: white;
	padding: 20px 100px;
	width: auto;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
	transition: 0.3s;
}
#submit:hover {
	background-color: #2ba7db;
}
map {
	position: relative;
	bottom: 0;
}
iframe {
	width: 100%;
	height: 250px;
	transition: 0.7s;
	transition-timing-function: ease;
}
footer article::after {
    content: "";
    clear: both;
    display: table;
}
footer {
	background-color: black;
}
footer h4 {
	display: block;
	padding: 9px;
	float: left;
	color: white;
}
footer img {
	padding: 5px;
    float: right;
    width: 160px;
}
#slide-but-1 {
	display: none;
	left: 0;
	top: 0;
	width: 50%;
	height: 490px;
	opacity: 0;
	position: absolute;
	z-index: 2;
}
#slide-but-2 {
	display: none;
	right: 0;
	top: 0;
	width: 50%;
	height: 490px;
	opacity: 0;
	position: absolute;
	z-index: 2;
}