@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:300,500,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

#w {
	background-color: #11749e;
	text-align: center;
	padding: 50px 0 100px;
	color: white;
}
#w>article {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#w>h2 {
	background: url(img/w.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 50px;
}
.w-div {
	width: 22%;
	font-size: 16px;
}
.w-div p {
    line-height: 22px;
    font-weight: 300;
}
.w-div>* {
	margin-bottom: 15px!important;
}
.w-back {
	background-color: #2e85aa;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.w-back img {
	padding: 33px;
}
#news {
	display: flex;
	flex-wrap: wrap;
	height: 1000px;
}
#news>div {
	width: 50%;
	height: 50%;
}
.news-img>img {
	height: 100%;
	object-fit: cover;
}
.news-text-left {
	display: flex;
	justify-content: flex-end;
	background: #222222;
}
.news-text-right {
	display: flex;
	justify-content: flex-start;
	background: #f3f3f3;
}
.white>*, .black>* {
	padding: 10px 0;
}
.white>span, .black>span {
	padding-top: 0;
}
.black {
	width: 600px;
	color: white;
	padding: 80px 80px 0 0;
} 
.white {
	width: 600px;
	padding: 80px 0 0 80px;
}
#blog {
	background-color: white;
	text-align: center;
	padding: 50px 0 0 0;
}
#blog>h2 {
	background: url(img/b.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 10px;
}
#blog>h3 {
	margin-bottom: 40px;
}
#blog div>h3 {
	color: #1d7ba3;
}
#arc-blog {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.blog-div {
	width: 22%;
}
.blog-div>* {
	margin-bottom: 10px;
}
.blog-div>img {
	height: 300px;
	object-fit: cover;
}
#arc-details {
	padding: 50px 0;
	text-align: left;
	color: white;
    font-weight: 300;
	background-color: #11749e;
}
.blog-details-ct {
	display: flex;
	justify-content: space-between;
}
.blog-details>* {
	margin-bottom: 10px;
}
.blog-details {
	display: flex;
	justify-content: space-between;
	width: 48%;
}
.blog-details img {
    padding: 20px;
    padding-left: 0;
    width: 100px;
    object-fit: none;
}
#desk {
	position: relative;
	color: white;
	width: 100%;
	height: 100%;
	min-height: 520px;
	display: flex;
}
#desk::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	transform-origin: center;
	background: url('img/bgim.png') no-repeat;
	background-size: cover;
	transition: 1s;
	/* Параллакс */
	transform: translateZ(-1px) scale(2);
}
#desk>div {
	font-size: 16px;
	width: 50%;
	height: 100%;
}
#desk-text {
	display: flex;
	justify-content: flex-end;
}
#desk-text h2 {
	padding-bottom: 30px;
	text-align: left;
}
#desk p {
	margin-bottom: 40px;
	line-height: 30px;
	width: 80%;
	color: rgba(255,255,255,0.7);
}
#desk li {
	background-color: #11749e;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	transition: 0.5s;
}
#desk-li-1 {
	width: 60%;
}
#desk-li-2 {
	width: 75%;
}
#desk-li-3 {
	width: 90%;
}
#desk li:hover {
	width: 100%;
}
#desk-text {
	display: flex;
	justify-content: flex-end;
}
#desk-text>div {
	display: block;
	margin: auto 0;
	width: 600px;
}
#desk-img {
	background: url(img/phone.png) no-repeat;
	background-position: 50px center;
	background-size: 300px;
}
#team {
	background-color: white;
	text-align: center;
	padding: 50px 0;
}
#team>h2 {
	background: url(img/t.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 20px;
}
#team article {
	overflow: hidden;
	display: block;
	margin: 0 auto;
	position: relative;
}
#team>h3 {
	margin-bottom: 40px;
}
#slider {
	transition: 0.3s;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.team-div {
	font-size: 16px;
	color: black;
	width: 24%;
	background: white;
}
.team-img {
	object-fit: cover;
	height: 400px;
}
.team-text {
	width: 80%;
	padding: 10px;
	background-color: white;
	position: relative;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
}
.team-text>* {
	padding: 5px 0;
}
.team-text h3 {
	color: #1d7ba3;
}
#contact {
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: black;
	padding-top: 50px;
}
#contact>h2 {
	text-align: center;
	margin-bottom: 50px;
	background: url(img/c.png) no-repeat;
	background-size: contain;
	background-position: center;}
#contact * {
	color: white;
}
form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
form>* {
	font-size: 16px;
	margin-bottom: 25px;
	padding: 15px;
	width: 32%;
	border: 1px solid white;
	background-color: black;
	color: white;
}
#message {
	resize: none;
	width: 100%;
	height: 250px;
	margin-bottom: 50px;
}
#submit {
	cursor: pointer;
	text-align: center;
	border: none;
	display: block;
	margin: 0 auto;
	background-color: #11749e;
	color: white;
	padding: 20px 100px;
	width: auto;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
	transition: 0.3s;
}
#submit:hover {
	background-color: #2ba7db;
}
map {
	position: relative;
	bottom: 0;
}
iframe {
	width: 100%;
	height: 250px;
	transition: 0.7s;
	transition-timing-function: ease;
}
footer article::after {
    content: "";
    clear: both;
    display: table;
}
footer {
	background-color: black;
}
footer h4 {
	display: block;
	padding: 9px;
	float: left;
	color: white;
}
footer img {
	padding: 5px;
    float: right;
    width: 160px;
}
#slide-but-1 {
	display: none;
	left: 0;
	top: 0;
	width: 50%;
	height: 490px;
	opacity: 0;
	position: absolute;
	z-index: 2;
}
#slide-but-2 {
	display: none;
	right: 0;
	top: 0;
	width: 50%;
	height: 490px;
	opacity: 0;
	position: absolute;
	z-index: 2;
}